body{
background:#0d1117;
color:white;
font-family:Arial;
margin:0;
}

header{
text-align:center;
padding:20px;
background:#161b22;
}

#tvchart{
height:500px;
}

.stats{
display:flex;
justify-content:space-around;
padding:15px;
background:#1c2128;
}

button{
padding:10px 20px;
margin:10px;
cursor:pointer;
}

.controls{
text-align:center;
}
